<section class="about section">
    <h2 class="section__title">Acerca de mi</h2>
    <span class="section__subtitle">Escribiendo código desde los 15 años, soy apasionado y amo lo que hago para
        seguir creciendo en todos los aspectos de mi vida.
    </span>
    <div class="about__container containerPersonal grid items-center">
        <img src="assets/img/about.jpg" alt="Avatar de Desarrollador JavaScript Full Stack" class="about__img">
        <div class="about__data">
            <p class="about__descripcion">
                Desarrollador JavaScript Full-Stack con más de 3 años de experiencia profesional con tecnologías
                como Angular, React, Node, Express, TypeScript, base de datos relacionales (PostgreSQL, MySQL) y no
                relacionales como (MongoDB).
                <br>
                <br>
                Considero que soy un profesional proactivo, analítico y muy perseverante, siempre estaré dispuesto a
                resolver problemas complejos con soluciones escalables de manera eficiente.
                <br>
                <br>
                He desarrollado proyectos de Software para empresas e instituciones teniendo en cuenta las mejores
                prácticas del mercado, mi objetivo es contribuir a crear soluciones IT de escala mundial, con
                equipos energéticos que quieran crear un alto impacto.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">3+</span>
                    <span class="about__info-name">Años <br> Experiencia <br> Profesional</span>
                </div>
                <div>
                    <span class="about__info-title">15+</span>
                    <span class="about__info-name">Proyectos Profesionales <br> Completados</span>
                </div>
            </div>
            <!-- <div class="about__buttons">
                <a download="" href="assets/cv/cv_angelloor.pdf" class="button button--flex" class="disable-link">
                    Descargar CV<i class="fas fa-download" style="margin-left: 5px;"></i>
                </a>
            </div> -->
        </div>
    </div>
</section>